$colors:(
    mycolor: #005DFF,

    myPurple:#9476AD,
    myBiege:#E0C496,
    myPurple2:#B39BC7,
    myGreen: #659477,
    myGreen2:#597A66,

    Theme-1-hex: #C7D9DF,
    Theme-2-hex: #37829A,
    Theme-3-hex: #204766,
    Theme-4-hex: #E6AFAD,
    Theme-5-hex: #F1DEE0,

);

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

body{
    background-color: map-get($colors, Theme-1-hex); 
}

.selectedSortMethod{
    color:map-get($colors, Theme-2-hex);
}

#main-wrap{

    #options {
        width: 100%;
        height:57px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        // background-color: map-get($colors, Theme-5-hex );
        background-color: white;
        font-weight: bold;
        color:rgb(39, 39, 39);
        letter-spacing: 0.06em;

        .sortContainer{
            div, button{
                display:inline-block;
            }
            .sortButton{
                padding:19px 20px;
                margin-top:-1px;

                &:hover{
                    background:map-get($colors, Theme-4-hex);
                    cursor: pointer;
                }

                &:active{
                    background:darken(map-get($colors, Theme-4-hex), 10%);
                }

                &::selection{
                    color:inherit
                }
            }

            .sort{
                padding: 20px 80px;
                font-weight: 800;

            }
        }
    }

    .line-container {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;
        min-height:710px;
        
        transform: rotate(180deg) scaleX(-1);
        
        .line {
            flex-grow:1;

            min-width: 9px;
            height: 200px;
            color: transparent;
            margin-left:2px; 
            background:map-get($colors, Theme-2-hex);
            border: solid 1.5px lighten(map-get($colors, Theme-2-hex), 20%);
            box-shadow: 3px 1px 10px rgba(0,0,0,00.2); 
        }
    }
}