$colors:(
    mycolor: #005DFF,

    myPurple:#9476AD,
    myBiege:#E0C496,
    myPurple2:#B39BC7,
    myGreen: #659477,
    myGreen2:#597A66,

    Theme-1-hex: #C7D9DF,
    Theme-2-hex: #37829A,
    Theme-3-hex: #204766,
    Theme-4-hex: #E6AFAD,
    Theme-5-hex: #F1DEE0,

);

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}


@mixin mobile{
    @media (max-width:866px) {
        @content;
    }
}

body{
    overflow-x:hidden;
    background-color: rgb(238, 238, 238);

}

.selectedSortMethod{
    color:map-get($colors, Theme-2-hex);
}


@mixin slider{
    width: 22px;
    height: 22px;
    background: rgb(77, 77, 77);
    cursor: pointer;
    border-radius: 150px; 
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #cccccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &:hover{
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        @include slider()
    }
    
    &::-moz-range-thumb{
        @include slider()
    }
}  

#main-wrap{

    #options {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        color:rgb(39, 39, 39);
        letter-spacing: 0.06em;

        .sortContainer{
            background-color: rgb(238, 238, 238);
            z-index: 10;
            .theButtons{
                margin-left:20px;
                div, button{
                    display:inline-block;
                    z-index: 11;
                }
                .sortButton{
                    padding:20px 20px;
                    margin-top:-1px;
                    transition: background 0.3s, color 0.3s;
                    
                    &:hover{
                        background:darken(white, 10%);
                        cursor: pointer;
                    }
                    
                    &:active{
                        background:darken(white, 20%);
                    }
                    
                    &::selection{
                        color:inherit
                    }
                }
                
                .sort{
                    padding: 20px 80px;
                    font-weight: 900;
                    letter-spacing:0.09em;
                    box-shadow: 2px 2px 10px rgba(0,0,0,00.2);
                }
            }

            .range{
                width:100%;
                padding:10px;
                padding-top:0;
                p{
                    padding-bottom: 5px;
                    margin-top:5px;
                }

                label{
                    padding-bottom: 20px;
                }

            }
            
        }
    }

    .line-container {
        background-color: map-get($colors, Theme-1-hex); 
        z-index: -2;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;
        min-height:710px;

        transform: rotate(180deg) scaleX(-1);
        
        .line {
            flex-grow:1;
            height: 200px;
            color: transparent;
            margin-left:2px; 
            background:map-get($colors, Theme-2-hex);
            border: solid 1.5px lighten(map-get($colors, Theme-2-hex), 20%);
            box-shadow: 3px 1px 10px rgba(0,0,0,00.2); 
        }
    }

    #footer{
        position:absolute;
        width:100%;
        padding:6px 0;
        text-align: center;
        p{
            position:relative;
            margin-bottom: 3em;
            margin-top:1.5em;
        }
    }
}